// .css-172kpif-MuiResponsiveChart-container {
//     width: 100%;
//     height: 160px !important;
// }

.bargraph-set{
    height: 160px !important;
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
    stroke: white !important;
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tick {
    stroke: white !important;
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
    fill: white !important;
}


.css-1mipfrf-MuiDataGrid-root {
    height: 258px !important;
    color: white !important;
    --DataGrid-pinnedBackground: #fff !important;
    --DataGrid-hasScrollY: 0 !important;
    --DataGrid-containerBackground: grey !important;
}

.css-16mfp94-MuiTablePagination-root {
    color: white !important;
}

.css-1mipfrf-MuiDataGrid-root .MuiDataGrid-row {
    --rowBorderColor: 0 !important;

}